<div class="has-mb-8" style="box-sizing: inherit; font-family: Roboto, sans-serif; font-size: 16.8px; margin-bottom: 4rem !important;">
<h3>1. Термины и определения, используемые в настоящем договоре</h3>

<p>1.1. Сайт &ndash; веб-сайт, размещенный в сети Интернет по адресу https://taplink.ru, включая поддомены.</p>

<p>1.2. Пользователь &ndash; лицо, получающее доступ к приложениям, сервисам, услугам и информации, размещенной на Сайте.</p>

<p>1.3. Личный кабинет &ndash; закрытый раздел Сайта, доступный Заказчику после его регистрации на Сайте и авторизации (ввода логина или номера личного мобильного телефона и пароля) предназначенный для осуществления различных действий в пределах функциональности Сайта и управлении настройками услуг Сервиса, а также ввода (редактирования) информации Заказчика размещенной на его Персональной странице, просмотра контактных данных Пользователей и использования других функций Сайта.</p>

<p>1.4. Программа &ndash; программа для ЭВМ &quot;Taplink&quot;, представляющая собой совокупность данных и команд, предназначенных для функционирования ЭВМ и других компьютерных устройств в целях получения определенного результата. Объем результата функционирования ограничен Тарифным планом.</p>

<p>1.5. Тарифный план &ndash; размер вознаграждения, соответствующий определенному объему функциональных возможностей Программы и сроку использования Программы. Все доступные Пользователю Тарифные планы размещены на сайте Taplink по адресу: http://taplink.ru/profile/tariffs/</p>

<p>1.6. Подписка &mdash; платежи, производимые Пользователем за получение доступа к Программе и осуществляемые в автоматическом режиме (&laquo;автоплатёж&raquo;). Подписка продляется автоматически, без обязательного уведомления о продлении со стороны Исполнителя.</p>

<p>1.7. Банковская карта &mdash; расчетная или кредитная карта, эмитентом которой является Банк-эмитент, являющаяся инструментом безналичных расчетов, предназначенная для совершения Держателем карты операций с денежными средствами, находящимися на банковских счетах Держателя карты в Банке-эмитенте, или с денежными средствами, предоставленными Банком-эмитентом в кредит Держателю карты в соответствии с законодательством Российской Федерации, а также договором банковского счета, или в пределах установленного лимита, в соответствии с условиями кредитного договора между Банком-эмитентом и Держателем карты, при условии, что такая расчетная или кредитная карта может быть использована Держателем карты для оплаты Услуг Поставщика. Оплата Услуг Поставщика в соответствии с настоящим Соглашением возможна Банковскими картами платежных систем VISA International, MasterCard International, зарегистрированными в соответствии с действующим законодательством Российской Федерации. При этом возможность использования конкретных видов карт VISA International и MasterCard International в устанавливает Банк-эмитент.</p>
</div>

<div class="has-mb-8" style="box-sizing: inherit; font-family: Roboto, sans-serif; font-size: 16.8px; margin-bottom: 4rem !important;">
<h3>2. Предмет договора</h3>

<p>2.1. Исполнитель обязуется оказывать Заказчику услуги в соответствии с перечнем услуг, расположенным на веб-сайте Исполнителя https://taplink.ru, а Заказчик обязуется принять и оплатить услуги Исполнителя в соответствии с условиями настоящего Договора.</p>

<p>2.2. Оказание услуг производится путем предоставления Заказчику доступа к сервису и его функциональным возможностям, а также обеспечения Исполнителем работоспособности и функциональности сервиса.</p>

<p>2.3. Заказчик самостоятельно определяет все необходимые параметры оказания ему услуг Сервиса путем выбора соответствующих настроек в Личном кабинете Заказчика на Сайте, в пределах, определяемых функциональными возможностями сервиса. Идентификация Заказчика в Сервисе осуществляется при вводе последним уникальной учетной информации (комбинации логина и пароля) на веб-странице авторизации по адресу https://taplink.ru Во время использования услуг Cервиса аналогом собственноручной подписи Заказчика является его уникальная учетная информация (логин и пароль), и он самостоятельно отвечает за их сохранность и недоступность для лиц неуполномоченных для каких-либо действий с Сайтом.</p>
</div>

<div class="has-mb-8" style="box-sizing: inherit; font-family: Roboto, sans-serif; font-size: 16.8px; margin-bottom: 4rem !important;">
<h3>3. Общие положения</h3>

<p>3.1. Любые материалы, файлы и сервисы, содержащиеся на Сайте, могут быть воспроизведены в какой‐либо форме, каким‐либо способом, полностью или частично без предварительного письменного разрешения Исполнителя, в целях некоммерческого использования. При воспроизведении Пользователем материалов Сайта, включая охраняемые авторские произведения, ссылка на Сайт обязательна, при этом текст указанной ссылки не должен содержать ложную, вводящую в заблуждение, уничижительную или оскорбительную информацию. Перевод, переработка (модификация), любое изменение материалов Сайта, а также любые иные действия, в том числе удаление, изменение до малозаметной информации и сведений об авторских правах и правообладателях, не допускается.</p>

<p>3.2. Любое использование материалов Сайта из защищенных разделов и подразделов Сайта посредством воспроизведения, распространения, импорта оригинала и т.д. в какой‐либо форме, каким‐либо способом запрещается.</p>

<p>3.3. Доступ к информации, находящейся на защищенных разделах Сайта, разрешен только зарегистрированным Пользователям, получившим пароль для входа на защищенные разделы Сайта. Пароль не может передаваться другим лицам, и Пользователь полностью несет ответственность за весь ущерб, причиненный ему, Исполнителю или третьим лицам, возникший вследствие намеренной или ненамеренной передачи Пользователем пароля другому лицу. Пользователь несет ответственность за сохранение конфиденциальности пароля и любое использование Сайта посредством его пароля.</p>

<p>3.4. Любые программы для ЭВМ, которые можно загрузить с Сайта (далее &ndash; Программы), защищены законодательством об авторских правах, являясь интеллектуальной собственностью Иcполнителя, ее партнеров или иных третьих лиц, предоставивших Исполнителю соответствующие права и разрешения на использование таких Программ.</p>

<p>3.4. Исполнитель не гарантирует, что программное обеспечение Cайта не содержит ошибок и/или посторонних фрагментов кода. Исполнитель предоставляет возможность Заказчику пользоваться программным обеспечением Сайта и Сервиса, без каких-либо гарантий со стороны Исполнителя.</p>

<p>3.5. Исполнитель не несет ответственности за убытки, причиненные Заказчику в результате сообщения Пользователем недостоверной информации, а также причиненные действиями (бездействием) Пользователя. Исполнитель не гарантирует, что информация о Пользователях является достоверной и полной.</p>

<p>3.6. Исполнитель прилагает все возможные усилия для обеспечения нормальной работоспособности Сайта, однако не несет ответственности за неисполнение или ненадлежащее исполнение обязательств по Договору, а также возможный ущерб, возникшие в результате:</p>

<p>3.6.1. неправомерных действий пользователей сети Интернет и/или иных субъектов, направленных на нарушения информационной безопасности или нормального функционирования Сайта.</p>

<p>3.6.2. сбоев в работе Сайта, вызванных ошибками в коде, компьютерными вирусами и иными посторонними фрагментами кода в программном обеспечении Сайта.</p>

<p>3.6.3. отсутствия (невозможности установления, прекращения и пр.) интернет-соединений между сервером Заказчика и сервером Сайта.</p>

<p>3.6.4. проведения государственными органами оперативно-розыскных мероприятий.</p>

<p>3.6.5. установления государственного регулирования (или регулирования иными организациями) хозяйственной деятельности коммерческих организаций в сети Интернет и/или установления указанными субъектами разовых ограничений, затрудняющих или делающих невозможным исполнение Договора.</p>

<p>3.6.6. других случаев, связанных с действиями (бездействием) пользователей сети Интернет и/или других субъектов, направленными на ухудшение общей ситуации с использованием сети Интернет и/или компьютерного оборудования, существовавшей на момент заключения Договора. Кроме того, в связи с использованием компьютерного и иного оборудования, каналов связи и (или) программ для ЭВМ, принадлежащих третьим лицам, Стороны соглашаются с тем, что Исполнитель по Договору не несет ответственность за любые задержки, прерывания, прямой и косвенный ущерб или потери, происходящие из-за дефектов в любом электронном или механическом оборудовании и (или) программах для ЭВМ, либо вследствие иных объективных технологических причин, а также в результате действий или бездействий третьих лиц, проблем при передаче данных или соединении, перебоев в электропитании, произошедших не по вине Исполнителя.</p>

<p>3.7. Правила, условия и ограничения по использованию Программ и связанных с ними онлайн‐сервисов регламентируются положениями лицензионных соглашений, с которыми Пользователь соглашается при установке, запуске и использовании Программы и/или связанного с ней онлайн‐сервиса. Нарушение условий лицензионного соглашения может привести к применению в отношении Пользователя мер гражданской, административной и/или уголовной ответственности.</p>

<p>3.8. Пользователь не вправе осуществлять воспроизведение, распространение, модификацию или каким-либо иным способом использовать Программу, если соответствующий способ не предусмотрен в лицензионном соглашении Программы.</p>

<p>3.9. Действующая редакция настоящего Соглашения размещена с сети Интернет на Сайте. Исполнитель вправе в любое время в одностороннем порядке изменять условия настоящего Соглашения. Такие изменения вступают в силу по истечении 2 (двух) дней с момента размещения новой версии Соглашения в сети Интернет на Сайте. При несогласии Пользователя с внесенными изменениями он обязан удалить все имеющиеся у него материалы Сайта, за исключением Программ, правами на использование которых, он правомерно обладает, после чего прекратить использование материалов и сервисов Сайта. Использование Вами каких-либо из функциональных возможностей инструментов и служб Сайта является полным и безоговорочным принятием измененного Соглашения с Вашей стороны, поэтому Вы обязаны регулярно просматривать настоящее Соглашение и дополнительные условия или уведомления, размещенные на Сайте.</p>

<p>3.10. В случае если Пользователь является участником партнерской программы Исполнителя и между сторонами заключен соответствующий договор, то положения такого договора, касающиеся использования Сайта имеют преимущественную силу по отношению к условиям настоящего Соглашения.</p>
</div>

<div class="has-mb-8" style="box-sizing: inherit; font-family: Roboto, sans-serif; font-size: 16.8px; margin-bottom: 4rem !important;">
<h3>4.Права и обязанности сторон</h3>

<p>4.1. Пользователь соглашается не предпринимать действий, которые могут рассматриваться как нарушающие российское законодательство или нормы международного права, в том числе в сфере интеллектуальной собственности, авторских и/или смежных правах, а также любых действий, которые приводят или могут привести к нарушению нормальной работы Сайта и сервисов Сайта.</p>

<p>4.2. Любые средства индивидуализации, в том числе товарные знаки и знаки обслуживания, а равно логотипы и эмблемы, содержащиеся на страницах Сайта, являются интеллектуальной собственностью их правообладателей. Пользователю Сайта запрещено воспроизводить или иным способом использовать указанные средства индивидуализации и/или их элементы без предварительного письменного разрешения соответствующих правообладателей.</p>

<p>4.3. Пользователь самостоятельно несет ответственность за любую информацию и материалы, размещенные им на Сайте. Исполнитель не инициирует размещение указанной информации, не выбирает получателей информации, не влияет на содержание и целостность размещаемой информации, а также в момент размещения Пользователем информации на Сайте не знает и не может знать, нарушает ли такое размещение действующее законодательство Российской Федерации, однако Исполнитель вправе отслеживать, просматривать и/или удалять любую информацию и материалы, размещенные Пользователем на Сайте.</p>

<p>4.4. При размещении любой информации и материалов Пользователь не становится соавтором Сайта и отказывается от каких‐либо претензий на такое авторство в будущем. Исполнитель не выплачивает Пользователю авторского или любого иного вознаграждения, как в период, так и по истечении срока действия настоящего Соглашения.</p>

<p>4.5. Исполнитель стремится к обеспечению достоверности информации, размещенной на Сайте, однако не несет ответственности за любые неточности и/или недостоверность информации, а равно сбои в работе предоставляемых через Сайт сервисов. Пользователь согласен с тем, что Исполнитель не несет ответственность и не имеет прямых или косвенных обязательств перед Пользователем в связи с любыми возможными или возникшими потерями или убытками, связанными с любым содержанием Сайта, интеллектуальной собственностью, товарами или услугами, доступными на нем или полученными через внешние сайты или ресурсы либо иные ожидания Пользователя, которые возникли в связи с использованием размещенной на Сайте информации или ссылки на внешние ресурсы.</p>

<p>4.6. Ни при каких условиях, включая, но не ограничиваясь невнимательностью или небрежностью Пользователя, Исполнитель не несет ответственности за любой ущерб (прямой или косвенный, случайный или закономерный), включая, но не ограничиваясь потерей данных или прибылей, связанной с использованием или невозможностью использования Сайта, информации, Программ, файлов или материалов на нем, даже если Исполнитель или ее представители были предупреждены о возможности такой потери. В случае, если использование Сайта приведет к необходимости дополнительного обслуживания, исправления или ремонта любого оборудования, а равно восстановления данных, все связанные с этим затраты оплачиваются Пользователем.</p>

<p>4.7. Исполнитель вправе отказать в размещении ссылок на конкурирующие сервисы и сайты (в том числе на сообщества конкурирующих сервисов/сайтов).</p>

<p>4.8. Вся представленная на Сайте информация предоставляется &laquo;как есть&raquo;, без каких‐либо гарантий, явных или подразумеваемых, если это отдельно не оговорено в лицензионных соглашениях либо партнерских договорах. Исполнитель полностью, в той мере, в какой это разрешено законом, отказывается от какой‐либо ответственности, явной или подразумеваемой, включая, но не ограничиваясь неявными гарантиями пригодности к использованию, а также гарантиями законности любой информации, продукта или услуги, полученной или приобретенной с помощью этого Сайта.</p>

<p>4.9. Заказчик самостоятельно определяет перечень организационных и программных средств для сохранения в тайне своей Учетной информации и обеспечения санкционированного доступа к ней своих сотрудников. Исполнитель не несет ответственность за убытки, причиненные Заказчику в результате разглашения третьим лицам учетной информации Заказчика, произошедшей не по вине Исполнителя.</p>

<p>4.10. В течение срока действия Договора Исполнитель вправе осуществлять наблюдение за использованием Заказчиком Сайта и Базы данных Исполнителя.</p>

<p>4.11. Исполнитель обязуется не разглашать третьим лицам Учетную информацию Заказчика, а также информацию об использовании Заказчиком Базы данных Исполнителя.</p>

<p>4.12. Исполнитель оставляет за собой право приостанавливать работу Сайта для проведения профилактических работ, по возможности в ночное время или выходные дни. Исполнитель обязан не позднее, чем за 4 часа уведомлять Заказчика о проведении профилактических работ путем размещения соответствующей информации на Сайте или по электронной почте.</p>

<p>4.13. Ни одна из Сторон не несет ответственности за полное или частичное неисполнение любой из своих обязанностей по Договору, если неисполнение является следствием таких обстоятельств, как наводнение, пожар, землетрясение, другие стихийные бедствия, война или военные действия и другие обстоятельства непреодолимой силы, возникшие после заключения Договора. В случае возникновения у Заказчика обстоятельств непреодолимой силы (форс-мажор), препятствующих последнему воспользоваться Услугами Исполнителя, Заказчик должен не позднее 1-го дня с даты наступления таких обстоятельств, уведомить об этом Исполнителя. В противном случае Заказчик теряет право на возврат денежных средств, за период в течение которого он не пользовался Услугами Исполнителя.</p>

<p>4.14. В случае действия обстоятельств непреодолимой силы более 3 (трех) месяцев любая Сторона вправе в одностороннем порядке отказаться от исполнения своих обязательств по Договору (расторгнуть Договор).</p>

<p>4.15. Стороны установили, что ответственность Исполнителя по Договору ограничивается суммой последнего внесенного авансового платежа Заказчика.</p>
</div>

<div class="has-mb-8" style="box-sizing: inherit; font-family: Roboto, sans-serif; font-size: 16.8px; margin-bottom: 4rem !important;">
<h3>5. Условия обработки и использования персональных данных.</h3>

<p>5.1. Принимая условия настоящего Соглашения Пользователь выражает свое согласие на предоставление персональных данных в тех сервисах, Приложениях и формах сайта, где такая информация запрашивается. Порядок обращения Исполнителя с персональными данными оговорен&nbsp;<a href="https://taplink.ru/about/privacy.html" style="box-sizing: inherit; color: rgb(3, 131, 222); cursor: pointer; text-decoration-line: none;">Политикой конфиденциальности</a>, размещенной на Сайте.</p>

<p>5.2. Целью обработки персональных данных Исполнителя является оказание услуг Пользователю посредством использования Сайта и Программ Исполнителя.</p>

<p>5.3. Перечень действий с персональными данными, на которые Пользователь выражает свое согласие: сбор, систематизация, накопление, хранение, уточнение (обновление, изменение), использование, обезличивание, передача третьим лицам для указанных выше целей, а так же осуществление любых иных действий, предусмотренных действующим законодательством РФ как неавтоматизированными, так и автоматизированными способами.</p>

<p>5.4. Исполнитель обязуется принимать все необходимые меры для защиты персональных данных Пользователя от неправомерного доступа или раскрытия.</p>

<p>5.5. Согласие Пользователя действует до момента его отзыва Пользователем путем направления соответствующего уведомления на электронный адрес hello@taplink.cc .</p>

<p>5.6. Пользователь соглашается на получение посредством электронной почты, адрес которой Пользователь указывает при регистрации на Сайте либо любом из сервисов Сайта, рекламно‐информационных сообщений, касающихся продукции и услуг Исполнителя и ее партнеров.</p>
</div>

<div class="has-mb-8" style="box-sizing: inherit; font-family: Roboto, sans-serif; font-size: 16.8px; margin-bottom: 4rem !important;">
<h3>6. Срок действия и расторжение Договора-оферты</h3>

<p>6.1. Настоящий договор считается заключенным в следующих случаях:</p>

<p>6.1.1. После подписания Договора Сторонами.</p>

<p>6.1.2. В случае поступления предварительной оплаты за услуги, что будет являться акцептом настоящей оферты Заказчиком.</p>

<p>6.1.3. В случае заполнения Заказчиком формы регистрации на сайте и отправки предоставленных в указанной форме сведений нажатием кнопки &laquo;Зарегистрироваться&raquo; на Сайте &laquo;Исполнителя&raquo;, что будет являться акцептом настоящей оферты Заказчиком. Подтверждением успешной регистрации является возможность доступа к Личному кабинету на Сайте Исполнителя.</p>

<p>6.2. Договор заключается на неопределенный срок и может быть расторгнут по инициативе любой из Сторон, с письменным предупреждением другой Стороны за 10 (Десять) рабочих дней до расторжения. В случае расторжения Договора по инициативе Заказчика, в соответствии с п.1 ст. 782 ГК РФ, Исполнитель возвращает Заказчику денежные средства, внесенные в качества Аванса Заказчиком Исполнителю по Договору, за вычетом стоимости фактически оказанных услуг и вычетом стоимости постоянных издерждек Исполнителя связанных с первичной настройкой системы, комиссиями платежных систем и бухгалтерским и юридическим сопровождением. Размер постоянных издержек Стороны признают равным 30 (тридцати) процентам от Авансовых платежей Заказчика.</p>

<p>6.3. Все споры и разногласия, которые могут возникнуть, будут, по возможности, разрешаться путем переговоров между Сторонами. В случае невозможности разрешения спора путем переговоров, он будет передан Сторонами на рассмотрение Арбитражного суда по месту нахождения Исполнителя.</p>
</div>

<div class="has-mb-8" style="box-sizing: inherit; font-family: Roboto, sans-serif; font-size: 16.8px; margin-bottom: 4rem !important;">
<h3>7. Порядок оплаты</h3>

<p>7.1. Все расчеты Сторон по настоящему Договору производятся в рублях Российской Федерации.</p>

<p>7.2. Размер вознаграждения определяется на основании выбранного Пользователем Тарифного плана и срока использования Программы.</p>

<p>7.3. При оформлении Подписки для Пользователя, включаются рекуррентные платежи на период доступа. Отслеживание сроков действия Подписки осуществляется Заказчиком самостоятельно в личном кабинете. Прекращение Подписки осуществляется в личном кабинете Заказчика. Списание средств будет остановлено в следующем, за датой отключения, календарном периоде. Если Пользователь по каким-либо причинам не отключил Подписку, денежные средства списываются с банковской карты Пользователя автоматически и возврату не подлежат.</p>

<p>7.4. Пользователь гарантирует, что он является Держателем банковской карты, осознанно, корректно и полностью вводит все требуемые реквизиты Банковской карты при активации (подключении) Программы.</p>
</div>

<div class="has-mb-8" style="box-sizing: inherit; font-family: Roboto, sans-serif; font-size: 16.8px; margin-bottom: 4rem !important;">
<h3>8. Прочие условия</h3>

<p>8.1. По вопросам, не урегулированным настоящим договором, Стороны руководствуются действующим законодательством Российской Федерации.</p>

<p>8.2. Заказчик гарантирует, что:</p>

<p>8.2.1. Полностью понимает все условия и содержание Договора.</p>

<p>8.2.2. Заключает Договор добровольно.</p>

<p>8.2.3. Обладает всеми правами и полномочиями для заключения Договора.</p>

<p>8.2.4. Гарантирует, что информация размещаемая на Сайте, не нарушает действующего законодательства, в т.ч. Федерального закона &laquo;О рекламе&raquo; и не вводит в заблуждение посетителей Сайта.</p>

<p>8.2.5. Информация указанная Заказчиком при регистрации является полной и достоверной.</p>

<p>8.3. Все и каждое из положений, содержащихся в данном Договоре, должны рассматриваться как отдельное и независимое положение, а признание какого-либо положения Договора незаконным или неприменимым не может отражаться на законности или применимости других условий Договора.</p>
</div>
